Imported needed packages

In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
my_path = os.chdir('/Users/colinobrien/Desktop/Repo/DS_5100/ds5100_prog_for_ds_jv')
COVID_data = pd.read_excel('MortalityDataWHR2021C2.xlsx')

cols_to_remove = ['Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average','All-cause death count, 2020','All-cause death count, 2019','All-cause death count, 2018','All-cause death count, 2017','Log of average distance to SARS countries']
removed_cols = COVID_data[cols_to_remove]

COVID_data_cleaned = COVID_data.drop(cols_to_remove, axis=1)
pd.options.display.float_format = '{:.3f}'.format 
COVID_data_cleaned

,Country name,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income
0,United States,331002647.000,328239523.000,104.451,38.300,0,1.688,0,0,0.250,47.510
1,Egypt,102334403.000,100388073.000,7.457,25.300,0,1.627,0,0,0.446,31.560
2,Morocco,36910558.000,36471769.000,20.016,29.600,0,2.336,0,0,0.397,39.550
3,Lebanon,6825442.000,6855713.000,21.508,31.100,0,1.891,0,0,0.107,31.830
4,Saudi Arabia,34813867.000,34268528.000,17.875,31.900,0,1.250,0,0,0.651,45.900
...,...,...,...,...,...,...,...,...,...,...,...
161,Yemen,29825968.000,29161922.000,2.045,20.300,0,1.005,0,0,0.267,36.710
162,Kosovo,1932774.000,1794248.000,68.916,35.000,0,3.134,0,1,0.169,29.010
163,Somaliland region,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN
164,North Cyprus,NaN,NaN,NaN,NaN,0,NaN,0,0,0.305,NaN
165,South Sudan,11193729.000,11062113.000,0.563,19.200,0,1.076,0,0,0.179,46.340

In this section, I cleaned removed several columns that were not very helpful for our analysis. I also change the decimal place to be set to a max of 3 to make floats easier to see on screen.

In [3]:
happy19 = COVID_data = pd.read_csv('world-happiness-report-2021.csv')

In [4]:
happy20 = COVID_data = pd.read_csv('WHR2020.csv')
old_header = list(happy20.columns.values)
new_header = []
for i in old_header:
    i = '20_' + i
    new_header.append(i)
new_header
happy20_cleaned = COVID_data = pd.read_csv('WHR2020.csv', names = new_header, header = None, skiprows=1)
happy20_cleaned=happy20_cleaned.rename(columns = {'20_Country name':'Country name'})
happy20_cleaned

,Country name,20_Regional indicator,20_Ladder score,20_Standard error of ladder score,20_upperwhisker,20_lowerwhisker,20_Logged GDP per capita,20_Social support,20_Healthy life expectancy,20_Freedom to make life choices,20_Generosity,20_Perceptions of corruption,20_Ladder score in Dystopia,20_Explained by: Log GDP per capita,20_Explained by: Social support,20_Explained by: Healthy life expectancy,20_Explained by: Freedom to make life choices,20_Explained by: Generosity,20_Explained by: Perceptions of corruption,20_Dystopia + residual
0,Finland,Western Europe,7.809,0.031,7.870,7.748,10.639,0.954,71.901,0.949,-0.059,0.195,1.972,1.285,1.500,0.961,0.662,0.160,0.478,2.763
1,Denmark,Western Europe,7.646,0.033,7.711,7.580,10.774,0.956,72.403,0.951,0.066,0.168,1.972,1.327,1.503,0.979,0.665,0.243,0.495,2.433
2,Switzerland,Western Europe,7.560,0.035,7.629,7.491,10.980,0.943,74.102,0.921,0.106,0.304,1.972,1.391,1.472,1.041,0.629,0.269,0.408,2.350
3,Iceland,Western Europe,7.504,0.060,7.621,7.388,10.773,0.975,73.000,0.949,0.247,0.712,1.972,1.327,1.548,1.001,0.662,0.362,0.145,2.461
4,Norway,Western Europe,7.488,0.035,7.556,7.420,11.088,0.952,73.201,0.956,0.135,0.263,1.972,1.424,1.495,1.008,0.670,0.288,0.434,2.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.476,0.115,3.702,3.250,6.625,0.319,45.200,0.641,0.082,0.892,1.972,0.041,0.000,0.000,0.293,0.254,0.028,2.860
149,Rwanda,Sub-Saharan Africa,3.312,0.052,3.415,3.210,7.600,0.541,61.099,0.901,0.055,0.184,1.972,0.343,0.523,0.572,0.604,0.236,0.486,0.548
150,Zimbabwe,Sub-Saharan Africa,3.299,0.059,3.414,3.184,7.866,0.763,55.617,0.711,-0.072,0.810,1.972,0.426,1.048,0.375,0.377,0.151,0.081,0.841
151,South Sudan,Sub-Saharan Africa,2.817,0.108,3.028,2.606,7.425,0.554,51.000,0.451,0.017,0.763,1.972,0.289,0.553,0.209,0.066,0.210,0.111,1.379
152,Afghanistan,South Asia,2.567,0.031,2.628,2.506,7.463,0.470,52.590,0.397,-0.096,0.934,1.972,0.301,0.356,0.266,0.000,0.135,0.001,1.507

In [5]:
happy19 = COVID_data = pd.read_csv('world-happiness-report-2021.csv')
old_header2 = list(happy19.columns.values)
new_header2 = []
for i in old_header2:
    i = '19_' + i
    new_header2.append(i)
new_header2
happy19_cleaned = COVID_data = pd.read_csv('WHR2020.csv', names = new_header2, header = None,  skiprows=1)
happy19_cleaned=happy19_cleaned.rename(columns = {'19_Country name':'Country name'})
happy19_cleaned

,Country name,19_Regional indicator,19_Ladder score,19_Standard error of ladder score,19_upperwhisker,19_lowerwhisker,19_Logged GDP per capita,19_Social support,19_Healthy life expectancy,19_Freedom to make life choices,19_Generosity,19_Perceptions of corruption,19_Ladder score in Dystopia,19_Explained by: Log GDP per capita,19_Explained by: Social support,19_Explained by: Healthy life expectancy,19_Explained by: Freedom to make life choices,19_Explained by: Generosity,19_Explained by: Perceptions of corruption,19_Dystopia + residual
0,Finland,Western Europe,7.809,0.031,7.870,7.748,10.639,0.954,71.901,0.949,-0.059,0.195,1.972,1.285,1.500,0.961,0.662,0.160,0.478,2.763
1,Denmark,Western Europe,7.646,0.033,7.711,7.580,10.774,0.956,72.403,0.951,0.066,0.168,1.972,1.327,1.503,0.979,0.665,0.243,0.495,2.433
2,Switzerland,Western Europe,7.560,0.035,7.629,7.491,10.980,0.943,74.102,0.921,0.106,0.304,1.972,1.391,1.472,1.041,0.629,0.269,0.408,2.350
3,Iceland,Western Europe,7.504,0.060,7.621,7.388,10.773,0.975,73.000,0.949,0.247,0.712,1.972,1.327,1.548,1.001,0.662,0.362,0.145,2.461
4,Norway,Western Europe,7.488,0.035,7.556,7.420,11.088,0.952,73.201,0.956,0.135,0.263,1.972,1.424,1.495,1.008,0.670,0.288,0.434,2.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.476,0.115,3.702,3.250,6.625,0.319,45.200,0.641,0.082,0.892,1.972,0.041,0.000,0.000,0.293,0.254,0.028,2.860
149,Rwanda,Sub-Saharan Africa,3.312,0.052,3.415,3.210,7.600,0.541,61.099,0.901,0.055,0.184,1.972,0.343,0.523,0.572,0.604,0.236,0.486,0.548
150,Zimbabwe,Sub-Saharan Africa,3.299,0.059,3.414,3.184,7.866,0.763,55.617,0.711,-0.072,0.810,1.972,0.426,1.048,0.375,0.377,0.151,0.081,0.841
151,South Sudan,Sub-Saharan Africa,2.817,0.108,3.028,2.606,7.425,0.554,51.000,0.451,0.017,0.763,1.972,0.289,0.553,0.209,0.066,0.210,0.111,1.379
152,Afghanistan,South Asia,2.567,0.031,2.628,2.506,7.463,0.470,52.590,0.397,-0.096,0.934,1.972,0.301,0.356,0.266,0.000,0.135,0.001,1.507

In [21]:
# joined = pd.merge(happy19, happy20, on="Country name", how='inner') 
just_20_COVID = pd.merge(happy20, COVID_data_cleaned , on="Country name", how='outer')

In [22]:
just_20_COVID

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income
0,Finland,Western Europe,7.809,0.031,7.870,7.748,10.639,0.954,71.901,0.949,...,5540718.000,5520314.000,10.125,42.800,0.000,2.225,0.000,1.000,0.550,25.900
1,Denmark,Western Europe,7.646,0.033,7.711,7.580,10.774,0.956,72.403,0.951,...,5792203.000,5818553.000,22.409,42.300,0.000,3.953,0.000,1.000,0.572,27.800
2,Switzerland,Western Europe,7.560,0.035,7.629,7.491,10.980,0.943,74.102,0.921,...,8654618.000,8574832.000,88.334,43.100,0.000,5.584,0.000,0.000,0.660,30.100
3,Iceland,Western Europe,7.504,0.060,7.621,7.388,10.773,0.975,73.000,0.949,...,341250.000,361313.000,8.498,37.300,1.000,1.649,0.000,1.000,0.325,24.100
4,Norway,Western Europe,7.488,0.035,7.556,7.420,11.088,0.952,73.201,0.956,...,5421242.000,5347896.000,8.042,39.700,0.000,2.676,0.000,1.000,0.606,24.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15893219.000,15442905.000,0.818,16.800,0.000,0.788,0.000,0.000,0.318,39.700
164,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43849269.000,42813238.000,3.348,19.700,0.000,1.076,0.000,0.000,0.375,45.050
165,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,586634.000,581372.000,20.797,29.600,0.000,0.821,0.000,0.000,0.274,38.100
166,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1160164.000,1148130.000,17.670,21.500,0.000,0.608,0.000,0.000,0.371,51.450
167,Somaliland region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000,NaN,0.000,0.000,NaN,NaN

In [25]:
full_19_20_COVID = pd.merge(just_20_COVID, happy20 , on="Country name", how='outer')

In [26]:
full_19_20_COVID

,Country name,Regional indicator_x,Ladder score_x,Standard error of ladder score_x,upperwhisker_x,lowerwhisker_x,Logged GDP per capita_x,Social support_x,Healthy life expectancy_x,Freedom to make life choices_x,...,Generosity_y,Perceptions of corruption_y,Ladder score in Dystopia_y,Explained by: Log GDP per capita_y,Explained by: Social support_y,Explained by: Healthy life expectancy_y,Explained by: Freedom to make life choices_y,Explained by: Generosity_y,Explained by: Perceptions of corruption_y,Dystopia + residual_y
0,Finland,Western Europe,7.809,0.031,7.870,7.748,10.639,0.954,71.901,0.949,...,-0.059,0.195,1.972,1.285,1.500,0.961,0.662,0.160,0.478,2.763
1,Denmark,Western Europe,7.646,0.033,7.711,7.580,10.774,0.956,72.403,0.951,...,0.066,0.168,1.972,1.327,1.503,0.979,0.665,0.243,0.495,2.433
2,Switzerland,Western Europe,7.560,0.035,7.629,7.491,10.980,0.943,74.102,0.921,...,0.106,0.304,1.972,1.391,1.472,1.041,0.629,0.269,0.408,2.350
3,Iceland,Western Europe,7.504,0.060,7.621,7.388,10.773,0.975,73.000,0.949,...,0.247,0.712,1.972,1.327,1.548,1.001,0.662,0.362,0.145,2.461
4,Norway,Western Europe,7.488,0.035,7.556,7.420,11.088,0.952,73.201,0.956,...,0.135,0.263,1.972,1.424,1.495,1.008,0.670,0.288,0.434,2.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,Somaliland region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For some reason, when I added the 2019 data into joined2, it messes up the column names. Not sure why but the x is for 2019, and the y is for 2020.

In [27]:
just_20_COVID.to_csv("Cleaned_just_20_COVID.csv", sep=",")

In [28]:
full_19_20_COVID.to_csv("full_19_20_COVID.csv", sep=",")